/* General CSS Codes Start */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600&family=Montserrat:wght@400;500;600&display=swap');
@font-face {
    font-family: "Minion Pro Regular";
    src: url("shared/fonts/MinionPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Minion Pro Bold";
    src: url("shared/fonts/MinionPro-Semibold.otf"), format("opentype");
}
:root{
    --bg-color: #FFFFFF;
    --powered-by-bg-color: #ECECEC;
    --sea-blue-color: #0A3D51;
    --dark-blue-color: #093e52;
    --orange-color: #D9A810;
    --black-color: #000;
    --border-color: #E0E0E0;
}
::selection{
    color: var(--bg-color);
    background-color: var(--sea-blue-color);
}
::-moz-selection{
    color: var(--bg-color);
    background-color: var(--sea-blue-color);
}
::-webkit-scrollbar{
    width: .8rem;
}
::-webkit-scrollbar-track{
    background-color: var(--sea-blue-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--orange-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    text-decoration: none;
    transition: .2s;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.inside{
    position: relative;
}
#header .inside > div{
    padding: 0 20%;
}
/* === Responsive Navbar Icon Start === */
#header .inside #menu-btn{
    font-size: 30px;
    padding: 5px 12px;
    color: var(--sea-blue-color);
    display: none;
}
#header .inside .side-navbar .fa-times{
    display: block;
    font-size: 30px;
    color: var(--bg-color);
    position: absolute;
    right: 5%;
    top: 1%;
}
/* === Responsive Navbar Icon End === */
/* General CSS Codes End */



/* Header CSS Start */
/* Header Navbar Top Start */
#header .inside .nav-top{
    padding: 0 80px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}
#header .inside .nav-top > div{
    display: flex;
    align-items: center;
    border-inline: 1px solid var(--border-color);
    cursor: pointer;
}
#header .inside .nav-top img{
    padding: 9px 7px 8px 21px;
}
#header .inside .nav-top a{
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--black-color);
}

/* === Login Button Arrow Start === */
#header .inside .nav-top .arrow{
    padding: 15px 18px 14px 9px;
}
/* === Login Button Arrow End === */


/* === Translate Button Start ===*/
#header .inside .nav-top .translate-btn a{
    padding-right: 22px;
}
/* === Translate Button End ===*/


/* === Search Button Start ===*/
#header .inside .nav-top .search-btn a{
    padding-right: 25px;
}
/* === Search Button End ===*/


/* === Facebook Button Start === */
#header .inside .nav-top .facebook-btn a img{
    padding: 9px 19px 8px 19px;
}
/* === Facebook Button End ===*/
/* Header Navbar Top End */

/* --------------------------- */

/* Header Logo CSS Start */
#header .inside .header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding-top: 32px;
}


/* === Header Logo Background Start === */
#header .inside .header-logo::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('img/header-img/jacksonville-background.png') no-repeat center/cover;
    z-index: -1;
}
/* === Header Logo Background End === */


/* === Header Logo Text Start === */
#header .inside .header-logo .logo{
    margin-top: -30px;
    cursor: pointer;
}
#header .inside .header-logo .logo-text h1,
#header .inside .header-logo .logo-text p{
    cursor: pointer;
    font-family: "Minion Pro Regular";
    text-transform: uppercase;
}
#header .inside .header-logo .logo-text h1{
    font-size: 100px;
    color: var(--sea-blue-color);
    line-height: 0;
    padding-left: 24px;
    letter-spacing: 5px;
}
#header .inside .header-logo .logo-text p{
    text-align: right;
    font-size: 52px;
    color: var(--orange-color);
    letter-spacing: 12px;
}
/* === Header Logo Text Start === */
/* Header Logo CSS End */

/* --------------------------- */

/* Header Nav Bottom Start */
#header .inside .nav-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sea-blue-color);
    padding: 0 80px;
}
#header .inside .nav-bottom a{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--bg-color);
    position: relative;
}
#header .inside .nav-bottom a::before{
    content: '';
    position: absolute;
    bottom: -58%;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 4px;
    background-color: var(--orange-color);
    transition: .2s;
}
#header .inside .nav-bottom a:hover::before{
    width: 100%;
}
#header .inside .nav-bottom i{
    padding-block: 24px 23px;
    font-size: 5px;
    color: var(--orange-color);
}
/* Header Nav Bottom End */

/* --------------------------- */

/* === Side Navbar Start === */

#header .inside .side-navbar{
    background-color: var(--sea-blue-color);
    padding: 20px 2% 0 2%;
    width: 325px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: none;
}
#header .inside .side-navbar a{
    margin-block: 59px;
    display: block;
    font-size: 25px;
    color: var(--bg-color);
    text-align: right;
}
/* === Side Navbar End === */
/* Header CSS End */


/* ------------------------------------- */


/* Content CSS Start */
/*=== Slider Start ===*/
#content .inside{
    padding: 0;
}
.swiper{
    width: 100%;
    height: 82vh;
    border-bottom: 4px solid var(--orange-color);
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev{
    color: var(--orange-color);
}
/*=== Slider End ===*/

/* ------------------------------------- */

/*=== Content Area 1 Start
Content: Quick Links, Upcoming Events, News and Announcements.
===*/
#content .inside .content-area-1{
    position: absolute;
    top: 85%;
    left: 3%;
    border-top: 4px solid var(--orange-color);
    background-color: #fff;
    width: 94%;
    z-index: 30;
    height: 400vh;
}
#content .inside .content-area-1 .quick-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
#content .inside .content-area-1 .quick-link .box{
    display: flex;
    z-index: 200;
    width: 340px;
    height: 119px;
    cursor: pointer;
    margin: 0 40px 75px 40px;
}
#content .inside .content-area-1 .quick-link .box:hover{
    transform: scale(1.05);
}
/*=== Button 1 Start ===*/
#content .inside .content-area-1 .quick-link .box .box-image{
    width: 190px;
    position: relative;
}
#content .inside .content-area-1 .quick-link .box1 .box-image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 190px;
    height: 100%;
    background: url('img/quick-link-img/quick-link-featured-album-img-1.png') no-repeat;
    background-size: 340px;
    background-position: -50px;
}
/*=== Button 1 End ===*/

/*=== Button 2 Start ===*/
#content .inside .content-area-1 .quick-link .box2 .box-image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 190px;
    height: 100%;
    background: url('img/quick-link-img/quick-link-img-2.png') no-repeat;
    background-size: cover;
    background-position: center;
}
/*=== Button 2 End ===*/

/*=== Button 2 Start ===*/
#content .inside .content-area-1 .quick-link .box3 .box-image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 190px;
    height: 100%;
    background: url('img/quick-link-img/quick-link-img-3.png') no-repeat;
    background-size: cover;
    background-position: center;
}
/*=== Button 2 End ===*/

/*=== Box Text Start ===*/
#content .inside .content-area-1 .quick-link .box-text{
    width: 150px;
    background-color: var(--dark-blue-color);
    position: relative;
}
#content .inside .content-area-1 .quick-link .box-text::before{
    content: '';
    position: absolute;
    background: url('img/quick-link-img/leaves.png') no-repeat center/cover;
    width: 130px;
    height: 96px;
    bottom: 0;
    right: 0;
}
#content .inside .content-area-1 .quick-link .box-text a{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 19px;
    color: var(--bg-color);
}

/*=== Box Text End ===*/
/*=== Content Area 1 - Quick Link End ===*/

/* --------------------------------------- */

/*=== Content Area 1 - Upcoming Events Start ===*/
#content .inside .flex .upcoming-events{
    flex: 1 1 42rem;
}
#content .inside .flex .upcoming-events h1{
    padding-left: 40px;
    font-weight: 600;
    font-size: 36px;
    color: var(--sea-blue-color);
    margin-bottom: 47px;
}
#content .inside .flex .upcoming-events .list{
    display: flex;
    align-items: flex-start;
    width: 100%;
}
#content .inside .flex .upcoming-events .list .list-img{
    cursor: pointer;
    width: 65px;
    height: 55px;
    position: relative;
    margin: 0 28px 55px 0;
}
#content .inside .flex .upcoming-events .list h2,
#content .inside .flex .upcoming-events .list  span{
    font-family: "Montserrat", sans-serif;
    color: var(--sea-blue-color);
}
#content .inside .flex .upcoming-events .list h2{
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    text-align: center;
    line-height: 12px;
    top: 28%;
    left: 28%;
}
#content .inside .flex .upcoming-events .list span{
    font-size: 13px;
}
#content .inside .flex .upcoming-events .list .texts p:first-child{
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 19px;
    color: var(--sea-blue-color);
}
#content .inside .flex .upcoming-events .list .texts .date,
#content .inside .flex .upcoming-events .list .texts .status{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 8px;
}
#content .inside .flex .upcoming-events .list > a{
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-blue-color);
}
#content .inside .flex .upcoming-events .list > a i{
    color: var(--orange-color);
    font-size: 14px;
}
#content .inside .flex .upcoming-events .list .show-all{
    margin-left: 29px;
}
/*=== Content Area 1 - Upcoming Events End ===*/

/* ---------------------------------------------- */

/*=== Content Area 1 - News and Announcements Start ===*/

.flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-inline: 88px;
    gap: 69px;
}
#content .inside .flex .news-and-announcements{
    flex: 1 1 42rem;
}
/* DOT BORDER START */
#content .inside .flex .news-and-announcements .dot-border{
    border: 4px solid var(--sea-blue-color);
    border-style: dotted;
    border-top-width:4px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    margin-block: 24px;
}
/* DOT BORDER END */

#content .inside .flex .news-and-announcements h1{
    font-size: 36px;
    font-weight: 600;
    color: var(--sea-blue-color);
}
#content .inside .flex .news-and-announcements .news{
    display: flex;
}
#content .inside .flex .news-and-announcements .news .news-img img{
    width: 202px;
    height: 148px;
    object-fit: cover;
}
#content .inside .flex .news-and-announcements .texts{
    margin-left: 22px;
}
#content .inside .flex .news-and-announcements .texts h3,
#content .inside .flex .news-and-announcements .texts h3 a{
    font-size: 19px;
    font-weight: 600;
    color: var(--sea-blue-color);
}
#content .inside .flex .news-and-announcements .texts p,
#content .inside .flex .news-and-announcements .texts p a{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--black-color);
    letter-spacing: 1px;
    margin-top: 45px;
    line-height: 20px;
}
#content .inside .flex .news-and-announcements .texts .p2{
    margin-top: 25px;
    line-height: 20px;
}
#content .inside .flex .news-and-announcements .news-bottom h1,
#content .inside .flex .news-and-announcements .news-bottom h1 a{
    font-size: 19px;
    color: var(--sea-blue-color);
}
#content .inside .flex .news-and-announcements .news-bottom p,
#content .inside .flex .news-and-announcements .news-bottom p a{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--black-color);
}
#content .inside .flex .news-and-announcements > a{
    font-weight: 600;
    font-size: 16px;
    color: var(--sea-blue-color);
}
#content .inside .flex .news-and-announcements > a i{
    font-size: 14px;
    color: var(--orange-color);
}
/*=== Content Area 1 - News and Announcements End ===*/

/*=== Content Area 1 End ===*/
/* Content CSS End */





/* Media CSS Start */
@media (max-width: 1350px){
    /*=== Content Area 1 Quick Link Start ===*/
    #content .inside .content-area-1 .quick-link .box{
        width: 300px;
    }

    /*=== Button 1 Start ===*/
    #content .inside .content-area-1 .quick-link .box .box-image{
        width: 170px;
    }
    #content .inside .content-area-1 .quick-link .box1 .box-image::before,
    #content .inside .content-area-1 .quick-link .box2 .box-image::before,
    #content .inside .content-area-1 .quick-link .box3 .box-image::before{
        width: 170px;
    }
    /*=== Button 1 End ===*/

    #content .inside .content-area-1 .quick-link .box-text{
        width: 130px;
    }
    /*=== Content Area 1 Quick Link End ===*/
}

@media (max-width: 1200px){
    /*=== Content Area 1 Quick Link Start ===*/
    #content .inside .content-area-1 .quick-link .box{
        width: 280px;
        margin: 0px 20px 75px 20px;
    }

    /*=== Button 1 Start ===*/
    #content .inside .content-area-1 .quick-link .box .box-image{
        width: 170px;
    }
    #content .inside .content-area-1 .quick-link .box1 .box-image::before,
    #content .inside .content-area-1 .quick-link .box2 .box-image::before,
    #content .inside .content-area-1 .quick-link .box3 .box-image::before{
        width: 160px;
    }
    /*=== Button 1 End ===*/

    #content .inside .content-area-1 .quick-link .box-text::before{
        width: 120px;
    }
    /*=== Content Area 1 Quick Link End ===*/
}

@media (max-width: 1024px){
    /* === Header Logo Text Start === */
    #header .inside .header-logo .logo-text h1{
        font-size: 75px;
    }
    #header .inside .header-logo .logo-text p{
        font-size: 35px;
    }
    /* === Header Logo Text End === */

    /* ----------------------------------- */
    
    /* === Header Nav Bottom Start === */
    #header .inside .nav-bottom a{
        font-size: 18px;
    }
    /* === Header Nav Bottom End === */

    /* ----------------------------------- */
    
    /*=== Content Area 1 Quick Link Start ===*/
    #content .inside .content-area-1 .quick-link .box-text::before{
        width: 110px;
        height: 85px;
    }
    /*=== Content Area 1 Quick Link End ===*/
    /* ----------------------------------- */
}

@media (max-width: 991px){
    /*=== Content Area 1 Start ===*/
    /* === Content Area 1 Quick Link Start */
    #content .inside .content-area-1 .quick-link{
        justify-content: center;
        flex-direction: column;
    }
    #content .inside .content-area-1 .quick-link .box{
        width: 550px;
        height: 119px;
        margin-bottom: 20px;
    }
    /*=== Button 1,2,3 Start ===*/
    #content .inside .content-area-1 .quick-link .box .box-image{
        width: 320px;
    }
    #content .inside .content-area-1 .quick-link .box1 .box-image::before,
    #content .inside .content-area-1 .quick-link .box2 .box-image::before,
    #content .inside .content-area-1 .quick-link .box3 .box-image::before{
        width: 320px;
        background-size: cover;
        background-position: center;
    }
    /*=== Button 1,2,3 End ===*/
    
    /*=== Box Text Start ===*/
    #content .inside .content-area-1 .quick-link .box-text{
        width: 230px;
    }
    #content .inside .content-area-1 .quick-link .box-text::before{
        width: 150px;
        height: 96px;
    }
    /*=== Box Text End ===*
    
    /*=== Content Area 1 - Quick Link End ===*/

    /* ----------------------------------- */
    
    /*  */

    /*=== Content Area 1 End ===*/

    /* ----------------------------------- */


    /* === Header Navbar Top Start === */
    #header .inside  .nav-top{
        justify-content: center;
    }
    /* === Header Navbar Top Start === */

    /* ----------------------------------- */

    /* === Header Nav Bottom Start === */
    #header .inside .nav-bottom a{
        font-size: 16px;
    }
    /* === Header Nav Bottom End === */
}

@media (max-width: 800px){
    /* === Header Logo Text Start === */
    #header .inside .header-logo .logo-text h1{
        font-size: 65px;
        padding-left: 15px;
    }
    #header .inside .header-logo .logo-text p{
        font-size: 25px;
    }
    /* === Header Logo Text End === */

    /* ----------------------------------- */

    /* === Header Nav Bottom Start === */
    #header .inside .nav-bottom a{
        font-size: 14px;
    }
    /* === Header Nav Bottom End === */
}

@media (max-width: 768px){
    /* === Responsive Navbar Icon Start === */
    #header .inside #menu-btn{
        display: block;
    }
    /* === Responsive Navbar Icon End === */

    /* ----------------------------------- */

    /* === Header Nav Bottom Start === */
    #header .inside .nav-bottom{
        display: none;
    }
    /* === Header Nav Bottom Start === */

    /* ----------------------------------- */

    /* === Side Navbar Active Start */
    #header .inside .side-navbar.active{
        display: block;
    }
    /* === Side Navbar Active End */
}

@media (max-width: 710px){
    /* === Header Logo Text Start === */
    #header .inside .header-logo .logo-text h1{
        font-size: 50px;
        padding-left: 15px;
    }
    #header .inside .header-logo .logo-text p{
        font-size: 20px;
    }
    /* === Header Logo Text End === */

    /* ----------------------------------- */
}

@media (max-width: 610px){
    /*=== Content Area 1 Start ===*/
    /* === Content Area 1 Quick Link Start */
    #content .inside .content-area-1 .quick-link .box{
        width: 450px;
        height: 119px;
    }
    /*=== Button 1,2,3 Start ===*/
    #content .inside .content-area-1 .quick-link .box .box-image{
        width: 300px;
    }
    #content .inside .content-area-1 .quick-link .box1 .box-image::before,
    #content .inside .content-area-1 .quick-link .box2 .box-image::before,
    #content .inside .content-area-1 .quick-link .box3 .box-image::before{
        width: 100%;
    }
    /*=== Button 1,2,3 End ===*/
    
    /*=== Box Text Start ===*/
    #content .inside .content-area-1 .quick-link .box-text{
        width: 150px;
    }
    #content .inside .content-area-1 .quick-link .box-text::before{
        width: 95px;
        height: 80px;
    }
    /*=== Box Text End ===*
    /*=== Content Area 1 - Quick Link End ===*/

    /* ----------------------------------- */
    
    /*  */

    /*=== Content Area 1 End ===*/


    /* === Header Logo Start === */
    #header .inside .header-logo{
        flex-direction: column;
    }
    /* === Header Logo End === */

    /* ----------------------------------- */
}

@media (max-width: 500px){

    /* Header Navbar Top Start */
    #header .inside .nav-top img{
        padding: 9px 7px 8px 10px;
    }


    /* === Login Button Arrow Start === */
    #header .inside .nav-top .arrow{
        padding: 15px 7px 14px 7px;
    }
    /* === Login Button Arrow End === */


    /* === Translate & Search Button Start ===*/
    #header .inside .nav-top .translate-btn a,
    #header .inside .nav-top .search-btn a{
        padding-right: 10px;
    }
    /* === Translate & Search Button End ===*/


    /* === Facebook Button Start === */
    #header .inside .nav-top .facebook-btn a img{
        padding: 9px 19px 8px 19px;
    }
    /* === Facebook Button End ===*/
    /* Header Navbar Top End */


    /*=== Content Area 1 Start ===*/
    /* === Content Area 1 Quick Link Start */
    #content .inside .content-area-1 .quick-link .box{
        width: 360px;
        height: 119px;
    }
    /*=== Button 1,2,3 Start ===*/
    #content .inside .content-area-1 .quick-link .box .box-image{
        width: 200px;
    }
    /*=== Button 1,2,3 End ===*/
    
    /*=== Box Text Start ===*/
    #content .inside .content-area-1 .quick-link .box-text{
        width: 160px;
    }
    /*=== Box Text End ===*
    /*=== Content Area 1 - Quick Link End ===*/

    /* ----------------------------------- */
}

@media (max-width: 425px){
    /* Header Navbar Top Start */
    #header .inside .nav-top img{
        padding: 9px 7px 8px 5px;
    }
    #header .inside .nav-top a{
        font-size: 11px;
    }
    
    /* === Login Button Arrow Start === */
    #header .inside .nav-top .arrow{
        padding: 15px 5px 14px 5px;
    }
    /* === Login Button Arrow End === */
    
    
    /* === Translate & Search Button Start ===*/
    #header .inside .nav-top .translate-btn a,
    #header .inside .nav-top .search-btn a{
        padding-right: 5px;
    }
    /* === Translate & Search Button End ===*/
    
    
    /* === Facebook Button Start === */
    #header .inside .nav-top .facebook-btn a img{
        padding: 10px;
    }
    /* === Facebook Button End ===*/
    /* Header Navbar Top End */

    /* ----------------------------------- */

    /* === Header Logo Text Start === */
    #header .inside .header-logo .logo-text h1{
        font-size: 40px;
        padding-left: 15px;
    }
    #header .inside .header-logo .logo-text p{
        letter-spacing: 0;
        line-height: 20px;
        text-align: center;
        font-size: 30px;
    }
    /* === Header Logo Text End === */

    /* ----------------------------------- */

    /*=== Content Area 1 Start ===*/
    /* === Content Area 1 Quick Link Start */
    #content .inside .content-area-1 .quick-link .box{
        width: 300px;
        height: 100px;
    }
    /*=== Button 1,2,3 Start ===*/
    #content .inside .content-area-1 .quick-link .box .box-image{
        width: 170px;
    }
    /*=== Button 1,2,3 End ===*/
    
    /*=== Box Text Start ===*/
    #content .inside .content-area-1 .quick-link .box-text{
        width: 130px;
    }
    /*=== Box Text End ===*
    /*=== Content Area 1 - Quick Link End ===*/

    /* ----------------------------------- */
}

@media (max-width: 361px){
    /* === Header Logo Start */
    #header .inside .header-logo .logo{
        width: 120px;
        height: 120px;
    }
    #header .inside .header-logo .logo img{
        width: 100%;
    }
    /* === Header Logo End */

    /* ----------------------------------- */
    
    /* === Header Navbar Top Start === */
    #header .inside  .nav-top{
        padding: 0 0;
        justify-content: flex-start;
    }
    /* === Header Navbar Top Start === */


    /* === Responsive Navbar Icon Start === */
    #header .inside #menu-btn{
        padding: 8px 10px 8px 10px;
        font-size: 25px;
    }
    /* === Responsive Navbar Icon End === */

    /* Header Navbar Top Start */
    #header .inside .nav-top img{
        padding: 9px 5px 8px 3px;
        width: 50%;
    }
    #header .inside .nav-top a{
        font-size: 10px;
        font-weight: 600;
    }
    
    /* === Login Button Arrow Start === */
    #header .inside .nav-top .arrow{
        padding: 15px 5px 14px 5px;
    }
    /* === Login Button Arrow End === */
    
    
    /* === Translate & Search Button Start ===*/
    #header .inside .nav-top .translate-btn a,
    #header .inside .nav-top .search-btn a{
        padding-right: 3px;
    }
    /* === Translate & Search Button End ===*/
    
    
    /* === Facebook Button Start === */
    #header .inside .nav-top .facebook-btn a img{
        width: 100%;
    }
    /* === Facebook Button End ===*/
    /* Header Navbar Top End */

    /* ----------------------------------- */

    /* === Header Logo Text Start === */
    #header .inside .header-logo .logo-text h1{
        font-size: 33px;
        padding-left: 15px;
    }
    #header .inside .header-logo .logo-text p{
        letter-spacing: 0;
        line-height: 20px;
        text-align: center;
        font-size: 23px;
    }
    /* === Header Logo Text End === */

    /* ----------------------------------- */

    /*=== Content Area 1 Start ===*/
    /* === Content Area 1 Quick Link Start */
    #content .inside .content-area-1 .quick-link .box{
        width: 250px;
        height: 80px;
    }
    /*=== Button 1,2,3 Start ===*/
    #content .inside .content-area-1 .quick-link .box .box-image{
        width: 140px;
    }
    /*=== Button 1,2,3 End ===*/
    
    /*=== Box Text Start ===*/
    #content .inside .content-area-1 .quick-link .box-text{
        width: 110px;
    }
    /*=== Box Text End ===*/

    #content .inside .content-area-1 .quick-link .box-text a{
        font-size: 15px;
    }
    
    /*=== Content Area 1 - Quick Link End ===*/

    /* ----------------------------------- */
}

@media (max-width: 319px){
    /* === Facebook Button Start === */
    #header .inside .nav-top .facebook-btn{
        display: none;
    }
    /* === Facebook Button End ===*/

    /* ----------------------------------- */

    /* === Header Logo Text Start === */
    #header .inside .header-logo .logo-text h1{
        font-size: 28px;
        padding-left: 15px;
    }
    #header .inside .header-logo .logo-text p{
        font-size: 20px;
    }
    /* === Header Logo Text End === */
}
/* Media CSS End */

