:root{
    --bg-color: #F1F1F1;
    --purple: #5F10F5;
    --white: #fff;
    --dark-gray: #161D1A;
    --light-gray: rgba(0, 0, 0, .3);
    --border-color: rgba(0, 0, 0, .1);
    --paragraph-color: rgba(0, 0, 0, .8);
    --orange: #FF6D29;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .25s all linear;
    font-family: sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
}
::selection{
    background-color: var(--purple);
    color: var(--white);
}
::-moz-selection{
    background-color: var(--purple);
    color: var(--white);
}
::-webkit-scrollbar{
    width: .6rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--dark-gray);
}
::-webkit-scrollbar-track{
    background-color: var(--light-gray);
}


/* Header Section Queries */
header{
    padding: 2% 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo h1,
header nav #menu-btn{
    cursor: pointer;
    color: var(--dark-gray);
}
header .logo h1:hover,
header nav #menu-btn:hover{
    color: var(--purple);
}
header .logo h1{
    font-size: 3.2rem;
    font-weight: 800;
}
header nav #menu-btn{
    font-size: 2.2rem;
}


/* Contact Section Queries */
.contact{
    padding: 7rem 9%;
}
.contact .contact-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    width: 75%;
    margin: 8rem auto;
}
.contact .contact-form form input,
.contact .contact-form form textarea{
    flex-basis: 45%;
    border: .1rem solid var(--border-color);
    padding: 1.5rem 0 1.5rem 1rem;
    font-size: 1.6rem;
    border-radius: 2rem;
}
.contact .contact-form form textarea{
    flex-basis: 95%;
}
.contact .contact-form form button{
    background-color: var(--purple);
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: .2s;
}
.contact .contact-form form button:hover{
    background-color: var(--orange);
    transform: scale(1.05);
}
.contact .contact-form form .agreement{
    flex-basis: 92%;
    position: relative;
}
.contact .contact-form form .agreement input{
    width: 2rem;
    height: 2rem;
}
.contact .contact-form form .agreement label{
    font-size: 1.4rem;
    color: var(--paragraph-color);
    position: absolute;
    top: 12%;
    margin-left: 1rem;
}
/* Wrapper Code Area */
.wrapper{
    width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.wrapper h1,
.wrapper h3{
    color: var(--dark-gray);
}
.wrapper h1{
    width: 70%;
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 800;
    line-height: 5.2rem;
    margin-bottom: 4rem;
}
.wrapper h3{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.wrapper p{
    color: var(--paragraph-color);
    width: 60%;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 600;
}


/* Map Section Queries */
.map{
    width: 100%;
    height: 60rem;
}