@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: url('../img/bg.jpg') no-repeat center/cover;
    height: 100vh;
    color: #fff;
}
::selection{
    color: #fff;
    background-color: #0b5e9e;
}
::-moz-selection{
    color: #fff;
    background-color: #0b5e9e;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
}
.container .header{
    padding-top: 50px;
}
.container .header h1{
    font-size: 50px;
    color: #fbb034;
    text-shadow: 1px 3px rgba(0, 0, 0, .9);
    margin-bottom: 30px;
}
.container .header input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    border-bottom: 2px solid #fbb034;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.container .content .city,
.container .content .temp{
    font-size: 45px;
    text-shadow: 1px 3px rgba(0, 0, 0, .7);
    margin-bottom: 10px;
}
.container .content .city{
    margin-bottom: 0;
}
.container .content .description{
    font-size: 22px;
    text-shadow: 1px 3px rgba(0, 0, 0, .7);
    font-style: italic;
    font-weight: 500;
    margin-bottom: 10px;
}
.container .content .minmax{
    font-size: 22px;
    text-shadow: 1px 3px rgba(0, 0, 0, .7);
    font-weight: 500;
}