:root{
    --white: #FFF;
    --black: #121212;
    --card-bg: #1f1f1f;
    --blue: #007ACC;
    --turquoise: #03DAC6;
    --border-color: #3E3E3E;
}
body{
    height: 100vh;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.fa-solid{
    cursor: pointer!important;
}
.card{
    background-color: var(--card-bg);
}
.card h5,
.card a{
    color: var(--white);
    text-decoration: none;
}
.card h5{
    margin-block: 5px 10px;
}
.card-link{
    color: var(--blue)!important;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.card-footer{
    border-color: var(--border-color);
    gap: 50px;
    padding-block: 10px;
}
.card-footer a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 10px;
    background-color: var(--black);
}